#nav-date-mobile {
    display: none;
    visibility: hidden;
}

@media (max-width: 576px) {
    #nav-date-desktop {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 1125px) {
    #addOnSpace{
        display: none;
    }
}

@media (max-width: 768px) {
    #nav-date-desktop {
        display: none;
        visibility: hidden;
    }
    #nav-date-mobile{
        display:table-row;
        position: block;
        color: whitesmoke;
        font-weight: 600;
        visibility: visible;
        font-size: medium;
    }
}